.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsitems {
    padding: 10px;
    color: white;
}

.dialogsitems .active {
    color: red;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}